// *************************************
//
//   Main
//
// *************************************

main {
  margin-left: $l-main-margin-left;
  margin-right: auto;
  max-width: $l-main-maxWidth;
  padding-left: $base-padding-left;
  padding-right: $base-padding-right;
}
