// *************************************
//
//   Navigation
//
// *************************************

nav {
  background-color: $base-color;
  color: $base-background;
  margin-left: $l-main-margin-left;
  padding: $base-padding;

  a {
    color: $base-background;
  }

  ul {
    @include horizontal-list();
  }
}
