// *************************************
//
//   Content
//
// *************************************

// -------------------------------------
//   Headings
// -------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $c-header-fontFamily;
}

h1 {
  font-size: $c-header-h1-fontSize;
}

h2 {
  font-size: $c-header-h2-fontSize;
}

h3 {
  font-size: $c-header-h3-fontSize;
}

h4 {
  font-size: $c-header-h4-fontSize;
}

h5 {
  font-size: $c-header-h5-fontSize;
}

h6 {
  font-size: $c-header-h6-fontSize;
}
