// *************************************
//
//   Layout
//
// *************************************

// -------------------------------------
//   Articles
// -------------------------------------

article {
  margin-bottom: $l-article-margin-bottom;
}

// -------------------------------------
//   Headings
// -------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $l-header-margin-bottom;
}

// -------------------------------------
//   Main Elements
// -------------------------------------

footer, main, nav, section {
  margin-bottom: $l-main-margin-bottom;
}

// -------------------------------------
//   Paragraphs
// -------------------------------------

p {
  margin-bottom: $l-paragraph-margin-bottom;
}
