// *************************************
//
//   Settings
//
// *************************************

// -------------------------------------
//   Base Variables
// -------------------------------------

// ----- Base Colors ----- //

$base-background: #ffffff;
$base-color: #000000;
$base-link-color: $base-color;

// ----- Base Borders & Box Shadows ----- //

$base-border: 1px solid $base-color;

// ----- Base Content ----- //

$base-fontFamily: sans-serif;
$base-fontSize: 100%;

// ----- Base Layout ----- //

$base-maxWidth: 1000px;
$base-space: 0.6em;

$base-margin: $base-space;
$base-margin-bottom: ($base-margin* 2);
$base-margin-left: ($base-margin * 2);
$base-padding: $base-space;
$base-padding-left: $base-padding;
$base-padding-right: $base-padding;

// -------------------------------------
//   Content Variables
// -------------------------------------

// Headers
$c-header-fontFamily: $base-fontFamily;
$c-header-h1-fontSize: ($base-fontSize * 2.0);
$c-header-h2-fontSize: ($base-fontSize * 1.8);
$c-header-h3-fontSize: ($base-fontSize * 1.6);
$c-header-h4-fontSize: ($base-fontSize * 1.4);
$c-header-h5-fontSize: ($base-fontSize * 1.2);
$c-header-h6-fontSize: ($base-fontSize * 1.0);

// -------------------------------------
//   Layout Variables
// -------------------------------------

// Articles
$l-article-maxWidth: $base-maxWidth;
$l-article-margin-bottom: $base-margin-bottom;

// Headers
$l-header-margin-bottom: $base-margin-bottom;

// Main Elements
$l-header-margin-bottom: $base-margin-bottom;
$l-main-margin-bottom: ($base-margin-bottom * 2);
$l-main-margin-left: $base-margin-left;
$l-main-maxWidth: $base-maxWidth;

// Paragraphs
$l-paragraph-margin-bottom: ($base-margin-bottom / 2);
